body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.espaciadocancha{
  margin-bottom: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  font-family: Arial, sans-serif;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1575ba;
  color: white;
  padding: 10px;
  margin: 0;
}
.celeste {
  background-color: #1575ba;
  margin: 0;
  display: flex;              /* Usa flexbox para alinear los elementos */
  align-items: center;        /* Alinea verticalmente los elementos al centro */
  justify-content: space-between; /* Distribuye el espacio entre los elementos (azul a la izquierda, calendario a la derecha) */
  width: 100%;                 /* Asegura que el contenedor ocupe todo el ancho disponible */
  gap: 20px;    
}



.logo {
  width: 100px;
  height: 97px;
}

.search-bar input {
  padding: 5px;
  width: 450px;
  height: 25px;
  border-radius: 30px;
  background-color: none;
   font-size: 20px;
   text-align: inherit;
   font-family: "Pathway Extreme";
    
}

.search-button {
  margin-left: 5px;
  cursor: pointer;
  background-color: #1575ba;
}

.menu button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
}

.menuh{
  flex: 11;
  margin: 20px;
  gap: 20px;
}

.botones{
  flex:2;
}

.horario{
  margin: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.icono {
  width: 75px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 60px;
  margin-bottom: 5px; /* Espacio entre la imagen y el texto */
  align-items: center;
  margin-right: 60px;  
}

.menu-text {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  align-items: center;
  margin-right: 60px; 
  font-family: "Pathway Extreme";
}



.title {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}



.item1{
  flex: 2;
  width: 700px ;
  }

  .app-container {
    display: flex;
    height: 100vh;    /* Altura completa de la ventana */
    width: 100%;      /* Ancho completo de la ventana */
    background-color: #f1f1f1;
  }
  
  
  
  .right-map {
    width: 50%;
    position: relative;
  }
  
  
.right-map .map-container {
  width: 100%;
  height: 100%;
}

.form select, .form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.form1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.form p {
  font-size: 14px;
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100vh;
  align-items: center;
}

.form select, .form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.reserva-button {
  background-color: #1575ba;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-left: 330px;
}

.map {
  flex: 2;
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cancha {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.futbol, .basquet{
  text-align: start;
  font-size: 18px;
  margin: 30px;
}

h3 {
  font-size: 25px;
  text-align: start;
  margin-left: 30px;
}
/* Estilo para el label que contiene el checkbox y el texto */
/* Asegúrate de que el label se comporte como un contenedor flex */

input[type="checkbox"] {
  width: 20px;              /* Define un tamaño adecuado para el checkbox */
  height: 20px;             /* Define un tamaño adecuado para el checkbox */
  margin-right: 10px;       /* Espacio entre el checkbox y el texto */
}

label, input{
  width: 25px;
  height: 25px;
  margin-left: 35px;
  font-size: 30px;
}

.rojo{
  height: 40px;
}