/* Estilos generales */
.App {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Estilos del encabezado */
 
  
  /* Estilos de la lista de parques */
  .parques-list {
    padding: 20px;
  }
  
  .parques-list h2 {
    text-align: left;
    margin-left: 20px;
   
    font-family: "Pathway Extreme";
    font-weight: 100;
    font-size: 30px;
    color: black;
    margin-bottom: 6px;
    
    
  }
  
  .parques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 500px; /* Altura máxima para la sección */
    overflow-y: auto; /* Habilita el scroll vertical si hay más contenido */
    border: 1px solid #ccc; /* Opcional: agrega un borde para visualización */
    padding: 10px;
    background-color: #f9f9f9; /* Fondo opcional */
  }
  
  .parque {
    flex: 1 1 calc(33.33% - 20px); /* Ajusta el ancho para 3 elementos por fila */
    max-width: 800px; /* Asegura que cada elemento tenga un ancho máximo */
    text-align: center;
  }
  
  .parque-image {
    width: 85%;
    height: 150px;
    
    
  }
  
  .name{
    font-family: "Pathway Extreme";
    font-size: 20px;
  }
  
  