.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .user-image {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
  }
  
  
  .form {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-right: 300px;

    
  }
  .form-group1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 500px;
   
    
    
  }
  .l{
    text-align: center;
  }
  
  label {
 
    margin-bottom: 5px;
    font-size: 20px;
    padding-right: 200px;
    white-space: nowrap;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  
  .btn-save {
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1575ba;
    color: white;
    max-width: 150px;
    height: 45px;
    

  }
  
  .btn-save:hover {
    background-color: #0056b3;
    
  }
  
  .in{
    width: 550px;
    border-radius: 20px;
    
  }

  .in1{
    width: 600px;
    border-radius: 20px;
    position: relative;
    left: 200px 
  }
  .datos{
    margin-left: 1000px;
  }
  .botonFlecha{
    margin: 20px;
  }
  .rol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  
