.contenedor-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1575BA;
  }
  
  /* Formulario */
  .formulario-registro {
    flex:10;
    height: 50%;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #1575BA;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    border: 1px solid #003f8a;
  }
  
  /* Título del formulario */
  .titulo-registro {
    font-size: 30px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
    
    
  }
  
  /* Imagen de usuario */
  .imagen-usuario-registro {
    margin-bottom: 100px;
    height: 200px;
  }
  
  .icono-usuario-registro {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #e0e0e0;
    
  
  }
  
  /* Campos de entrada */
  .campos-registro {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .entrada-registro {
    width: 800px;
    padding: 15px ;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: #e0e0e0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #555;
    margin-left: 70px;
    margin-top: 26px;
  }
  
  .entrada-registro::placeholder {
    color: #999;
    font-size: 14px;
  }
  
  /* Botón de registro */
  .boton-registro {
    width: 20%;
    padding: 15px;
    font-size: 18px;
    background-color: #e0e0e0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    color: #555;
  }
  
  .boton-registro:hover {
    background-color: #002f6e;
  }
  
  