.tabla-reservas {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden; /* Para que el borde redondeado se aplique también al contenido */
}

.tabla-reservas th,
.tabla-reservas td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.tabla-reservas th {
  background-color: #f4f4f4;
  text-align: center;
}

.tabla-reservas td {
  text-align: center;
}

.tabla-reservas tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-reservas tbody tr:hover {
  background-color: #f1f1f1;
}

.espacio {
  display: flex;               /* Activa el modelo de Flexbox */
  justify-content: flex-start; /* Alinea el contenido al principio (izquierda) */
  align-items: center;  
  align-content: center;      /* Alinea verticalmente al centro si es necesario */
  width: 100%;                 /* Asegura que ocupe todo el ancho disponible */
  margin: 0;                   /* Asegura que no haya márgenes inesperados */
}

/* Asegúrate de que el contenedor derecha no afecta el botón */
.derecha {
  display: flex;
  justify-content: flex-end;   /* Este solo debe usarse si quieres alinear otros elementos a la derecha */
  align-items: flex-start;
  width: 100%;
}

/* Estilo para el CalendarioRectangulo si deseas darle un tamaño específico */
.CalendarioRectangulo {
  width: auto;  /* Deja que el calendario ocupe solo el espacio necesario */
  /* Puedes añadir un ancho fijo si lo deseas, por ejemplo: width: 300px; */
}
.rojo{
margin-right: 200px;
height: 50px;
width: 150px;
background-color: #fd2b2b;
border-radius: 5px;
color: white;
font-size: 16px;

}
.btn{
margin-left: 20%;
}

.azul{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1575ba;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}



